include AUTHORS
include CHANGES
include COPYING
include LICENSE
include README


include setup.py
include setup.cfg

include requirements.txt
include requirements-tests.txt

graft tests
graft fixtures
graft diamond
graft migrations
