alembic==0.8.8
apipkg==1.4
Babel==2.3.4
bcrypt==3.1.1
cffi==1.8.3
click==6.6
configparser==3.5.0
coverage==4.2
enum34==1.1.6
execnet==1.4.1
flake8==3.2.1
Flask==0.11.1
Flask-Babel==0.11.1
Flask-Login==0.3.2
Flask-Migrate==2.0.0
Flask-Redis==0.3.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.5
Markdown==2.6.7
MarkupSafe==0.23
mccabe==0.5.2
mockredispy==2.9.3
pep8==1.7.0
pluggy==0.4.0
psycopg2==2.6.2
py==1.4.31
pycodestyle==2.2.0
pycparser==2.16
pyflakes==1.3.0
Pygments==2.1.3
pytest==3.0.3
pytest-cache==1.0
pytest-cov==2.4.0
pytest-flake8==0.8.1
pytest-pep8==1.0.6
python-editor==1.0.1
python-slugify==1.2.1
pytz==2016.10
redis==2.10.5
six==1.10.0
SQLAlchemy==1.1.2
Unidecode==0.4.19
virtualenv==15.0.3
Werkzeug==0.11.11
