body {
  border-top-color: #0645ad;
}

a:hover,
a.wikilink {
  color: #0645ad;
}

a,
a.wikilink:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  border-bottom-color: #0645ad;
}
