{% extends "skeleton.j2" %}

{% block title %}
  Changes
{% endblock %}

{% block body %}
  <ul>
    {% for title, time in changes.results %}
      <li>
        <a href="/{{ title }}" class="wikilink">{{ title | title }}</a>
        . . . .
        {{ time }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
