{% extends "skeleton.j2" %}

{% block title %}
  {% if facets.query %}
    Browsing view.breadcrumb()
  {% else %}
    Browsing All Pages
  {% endif %}
{% endblock %}

{% block body %}
  <table class='body nav'>
    <tr>
      <td valign=top>
        {% for key, values in facets.filters.items() %}
          <b>{{ key | title }}</b><br>
          {% for value in values %}
            &nbsp;&nbsp; <a href="/facets/{{ key }}={{ value.val }}">{{ value.val | title }}</a> <small>({{ value.count }})</small><br>
          {% endfor %}

          &nbsp;&nbsp; <a href="/facets/{{ key }}="><em>Not set</em><br></a>
        {% else %}
          No further faceting possible
        {% endfor %}
      </td>

      <td width=30>
      </td>

      <td valign='top'>
        <p><b>{{ facets.hits | pluralize('%d page', '%d pages') }}</b> out of
          {{ facets.total }} searched.</p>

        <ul>
          {% for page in facets.results %}
          <li>
            <a href="/{{ page.page_name }}">{{ page.page_name | title }}</a>
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  </table>
{% endblock %}
