{% extends "skeleton.j2" %}

{% block title %}
  History for <a href="/{{ page.name }}">{{ page.name }}</a>
{% endblock %}

{% block body %}
  <ul>
    {% for item in page.history() %}
      <li>
        <a href="/{{ item.name }}" class="wikilink">{{ item.name | title }}</a>
        . . . .
        {{ item.mtime }}
      </li>
    {% endfor %}
  </ul>

  <div class="actions">
    <hr/>

    <p>
      Last modified: {{ page.mtime or 'never' }} |
      <a href="/history/{{ page.name }}">History</a> |
      <a href="/edit/{{ page.name }}">Edit</a>
    </p>
  </div>
{% endblock %}
