{% extends "skeleton.j2" %}

{% block title %}
  History
{% endblock %}

{% block body %}
  <ul>
    {% for title, time in history.results %}
      <li>
        <a href="/{{ title }}" class="wikilink">{{ title | title }}</a>
        . . . .
        {{ time }}
      </li>
    {% endfor %}
  </ul>

  <div class="actions">
    <hr/>

    <p>
      Last modified: {{ page.mtime or 'never' }} |
      <a href="/history/{{ page.name }}">History</a> |
      <a href="/edit/{{ page.name }}">Edit</a>
    </p>
  </div>
{% endblock %}
