{% extends "skeleton.j2" %}

{% block title %}
  <a href="/search?query={{ page.name }}&fulltext=yes">
    {{ page.name | title }}
  </a>
{% endblock %}

{% block body %}
  {{ page.body | format }}

  <div class="actions">
    <hr/>

    <p>
      Last modified: {{ page.mtime or 'never' }} |
      <a href="/history/{{ page.name }}">History</a> |
      <a href="/edit/{{ page.name }}">Edit</a>
    </p>
  </div>
{% endblock %}

{% block meta %}
  {% if page.meta | length %}
    <h5><a href="/Metadata" class="wikilink">Metadata</a> for this page:</h5>

    <table>
      {% for key, values in page.meta.items() %}
        <tr {% if loop.last %} class="last-row" {% endif %}>
          <th>{{ key }}:</th>
          <td>
            {% for value in values %}
              <a href="/search/{{ key }}={{ value }}">
                {{ value }}</a>
              <br>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <h5><em>No <a href="/Metadata" class="wikilink">Metadata</a> for this
        page.</em></h5>
  {% endif %}
{% endblock %}
