{% extends "skeleton.j2" %}

{% block title %}
  Search
{% endblock %}

{% block body %}
  <form>
    <fieldset>
      <legend class="sr">Search through the wiki</legend>

      <div class="col-7 col-9-m no-padding">
        <label class="sr" for="field-query">Query term</label>
        <input type="text" id="field-query" name="query"
          value="{{ search.query }}" class="field">
        <label>
          <input type="checkbox" name="fulltext" value="yes"
            {{ 'checked="checked"' if search.fulltext else '' }}>
          Perform a full text search
        </label>
      </div>

      <div class="col-5 col-3-m no-padding">
        <input type="submit" value="Go" class="button button-fw" />
      </div>
    </fieldset>
  </form>

  <hr />

  <div class="col-6 col-5-m no-padding">
    <table>
      {% for key, values in search.facets.items() %}
        <tr {% if loop.last %} class="last-row" {% endif %}>
          <th>{{ key }}:</th>

          <td>
            {% for value, count in values %}
              <a href="/search{{ search.path }}/{{ key }}={{ value }}?{{ search.query_string }}">
                {{ value }}</a>

              <small>({{ count }})</small><br>
            {% endfor %}

            <a href="/search/{{ key }}="><em>Not set</em></a><br>
          </td>
        </tr>
      {% else %}
        <em>No further faceting available.</em>
      {% endfor %}
    </table>
  </div>

  <div class="col-1 col-1-m no-padding">
    &nbsp;
  </div>

  <div class="col-5 col-6-m no-padding">
    <p>{{ search.hits | pluralize('%d hit', '%d hits') }} out of
      {{ search.total | pluralize('%d page', '%d pages') }} searched.</p>

    <ul>
      {% for name in search.results %}
        <li>
          <a href="/{{ name }}" class="wikilink">{{ name | title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
