{% extends "skeleton.j2" %}

{% block title %}
  <a href="/search?query={{ page.page_name }}&fulltext=yes">
    {{ page.page_name | title }}
  </a>
{% endblock %}

{% block meta %}
  <h5><a href="/MetaData" class="wikilink">MetaData</a> for this page:</h5>

  <table>
    {% for pair in page.metadata().keyvals %}
      <tr {% if loop.last %} class="last-row" {% endif %}>
        <th>{{ pair.key }}:</th>
        <td>
          <a href="/facets/{{ pair.key }}={{ pair.val }}" class="wikilink">
            {{ pair.val }}
          </a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block body %}
  {{ page.get_body() | format }}

  <div class="actions">
    <hr/>

    <p>
      Last modified: {{ page._last_modified() or 'never' }} |
      <a href="/{{ page.page_name }}/history">History</a> |
      <a href="/{{ page.page_name }}/edit">Edit</a>
    </p>
  </div>
{% endblock %}
