<head>
  <title>uu</title>
  <link rel="stylesheet" type="text/css" href="/static/diamond.css">
</head>

<body>

  <div class="container">
    <table class="header">
      <tr>
        <td valign=absmiddle>
          <a href="/FrontPage">
            <img src="/static/diamond.jpg" alt="Diamond wiki">
          </a>
        </td>
        <td width="10"></td>
        <td>
          <h1 class="title">
            {% block title %}{% endblock %}
          </h1>
        </td>
      </tr>
    </table>

    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% if help and help.exists() %}
      <div class="help">
        {{ help.get_body() | format }}
      </div>
    {% endif %}

    {% block body %}{% endblock %}
  </div>

  <div class="menu">
    {% block edit %}{% endblock %}
    <a href="/changes">Changes</a> |
    <a href="/titles">Title Index</a> |
    <a href="/words">Word Index</a> |
    <a href="/search">Search</a> |
    <a href="/facets">Facets</a>
  </div>

</body>
