{% extends "skeleton.j2" %}

{% block title %}
  Title Index
{% endblock %}

{% block body %}
  <p>
    <center>
      {% for letter in titles | letters %}
        <a href="#entry_{{ letter }}">{{ letter | upper }}</a>
      {% endfor %}
    </center>
  </p>

  <ul>
    {% set letter = None %}
    {% for title in titles %}
      {% if letter != title[0] %}
        <center>
          <h3>
            <a id="entry_{{ title[0] | lower }}" href="#entry_{{ title[0] | lower }}">
              {{ title[0] }}
            </a>
          </h3>
        </center>

        {% set letter = title[0] %}
      {% endif %}

        <li>
          <a href="/{{ title }}" class="wikilink">{{ title | title }}</a>
        </li>
    {% endfor %}
  </ul>
{% endblock %}
