{% extends "skeleton.j2" %}

{% block title %}
  Word Index
{% endblock %}

{% block body %}
  {% set words = titles | words %}

  <p>
    <center>
      {% for letter in words.keys() | letters %}
        <a href="#entry_{{ letter }}">{{ letter | upper }}</a>
      {% endfor %}
    </center>
  </p>

  {% set letter = None %}
  {% for word, items in words.items() %}
    {% if letter != word[0] %}
      <center>
        <h3>
          <a id="entry_{{ word[0] | lower }}" href="#entry_{{ word[0] | lower }}">
            {{ word[0] }}
          </a>
        </h3>
      </center>

      {% set letter = word[0] %}
    {% endif %}

    <b>{{ word }}</b><br>

    <ul>
      {% for item in items %}
        <li>
          <a href="/{{ item }}" class="wikilink">{{ item | title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
