{% extends "skeleton.j2" %}

{% block title %}
  Activation
{% endblock %}

{% block body %}
  <div class="activate">
    <form method="POST">
      <fieldset>
        <legend class="sr">Page activation</legend>

        <div class="form-row">
          <input type="submit" value="activate" class="full-w">
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}
