{% extends "skeleton.j2" %}

{% block title %}
  {{ _('Activation') }}
{% endblock %}

{% block body %}
  <div class="activate">
    <form method="POST">
      <input type="hidden" name="_csrf_token" value="{{ g.csrf_token() }}">

      <fieldset>
        <legend class="sr">{{ _('Page activation') }}</legend>

        <div class="form-row">
          <input type="submit" value="{{ _('Activate') }}" class="full-w">
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}
