{% extends "skeleton.j2" %}

{% import "admin-macros.j2" as macros %}

{% block title %}
  {{ _('Security') }}
{% endblock %}

{% block body %}
  <div class="help">
    {{ macros.render_menu('security') }}
  </div>

  <div class="settings">
    <form method="POST">
      <input type="hidden" name="_csrf_token" value="{{ g.csrf_token() }}">

      <fieldset>
        <legend>{{ _('Security form') }}</legend>

        <input name="params" type="hidden"
          value="edition_policy">

        <div class="form-row">
          <label for="field-edition_policy">{{ _('Edition policy') }}</label>
          <select name="edition_policy" id="field-edition_policy" class="full-w">
            <option {{ macros.selected_if_param('edition_policy', '', '') }}
              value="">{{ _('Everyone') }}</option>
            <option {{ macros.selected_if_param('edition_policy', '', 'users') }}
              value="users">{{ _('Registered users only') }}</option>
            <option {{ macros.selected_if_param('edition_policy', '', 'admins') }}
              value="admins">{{ _('Administrators only') }}</option>
          </select>
        </div>

        <div class="form-row">
          <input type="submit" value="{{ _('Save') }}" class="full-w">
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}
