{% extends "skeleton.j2" %}

{% block title %}
  Recent Changes
{% endblock %}

{% block body %}
  <ul>
    {% for item in changes %}
      <li>
        <a href="/{{ item.name }}" class="wikilink">{{ item.title }}</a>
        . . . .
        {{ item.mtime }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
