{% extends "skeleton.j2" %}

{% block title %}
  Deactivation
{% endblock %}

{% block body %}
  <div class="deactivate">
    <form method="POST">
      <fieldset>
        <legend class="sr">Page deactivation</legend>

        <div class="form-row">
          <input type="submit" value="Deactivate" class="full-w">
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}
