{% extends "skeleton.j2" %}

{% block title %}
  Diff
{% endblock %}

{% block body %}
  <div class="diff">
    <pre class="diff">{% for line in diff %}{{ line + '\n' }}{% endfor %}</pre>
  </div>
{% endblock %}
