{% extends "skeleton.j2" %}

{% block title %}
  Editing {{ page.name | title }}
{% endblock %}

{% block body %}
  <div class="form">
    <form method="POST">
      <textarea name="body" cols="80" rows="17">{{ page.body }}</textarea>
      <br>
      <input type="submit">
    </form>
  </div>
{% endblock %}
