{% extends "skeleton.j2" %}

{% block title %}
  Edit
{% endblock %}

{% block body %}
  <div class="edit">
    <form method="POST">
      <fieldset>
        <legend class="sr">Page edition</legend>

        <p>
          <label for="field-body">Page body</label>
          <textarea name="body" id="field-body" cols="80" rows="24"
            class="field">{{ page.body }}</textarea>
        </p>

        <p>
          <label for="field-comment">Comment</label>
          <input name="comment" id="field-comment" type="text" class="field"
            placeholder="Describe your changes unless it's a minor edit">
        </p>

        <p>
          <input type="submit" value="Save" class="button button-fw" />
        </p>
      </fieldset>
    </form>
  </div>
{% endblock %}
