{% extends "skeleton.j2" %}

{% block title %}
  Edit
{% endblock %}

{% block body %}
  <div class="edit">
    <form method="POST" class="edit">
      <fieldset>
        <legend class="sr">Page edition</legend>

        <p>
          <label for="field-body">Page body</label>
          <textarea name="body" id="field-body" cols="80" rows="24"
            class="field">{{ page.body }}</textarea>
        </p>

        <p>
          <label for="field-comment">Comment</label>
          <input name="comment" id="field-comment" type="text" class="field"
            placeholder="Describe your changes unless it's a minor edit">
        </p>

        <p>

          <div class="col-6">
            <button type="button" class="button button-fw button-preview">
              Preview
            </button>
          </div>

          <div class="col-6">
            <input type="submit" value="Save" class="button button-fw" />
          </div>

        </p>
      </fieldset>
    </form>

    <div class="preview"></div>
  </div>
{% endblock %}
