{% extends "skeleton.j2" %}

{% import "macros.j2" as macros %}

{% block title %}
  {{ _('History') }}
{% endblock %}

{% block body %}
  <div class="help">
    <h1>{{ _('History') }}</h1>

    <p>{{ _('Below is a list of all changes that were made to the page.') }}</p>
  </div>

  <div class="history">
    <form>
      <table>
        <tr>
          <th>{{ _('Timestamp') }}</th>
          <th>
            <a href="/diff/{{ page.slug }}" class="diff-button">
              {{ _('Diff.') }}
            </a>
          </th>
          <th>{{ _('V.') }}</th>
          <th>{{ _('Author') }}</th>
          <th>{{ _('Comment') }}</th>
        </tr>

        {% for item in history.items %}
          <tr>
            <td>
              {{ item.ymd_hm }}
            </td>
            <td>
              <input type="radio" value="{{ item.id }}" name="version-a"
                {{ 'checked="checked"' if loop.index == 2 else '' }}>
              <input type="radio" value="{{ item.id }}" name="version-b"
                {{ 'checked="checked"' if loop.index == 1 else '' }}>
            </td>
            <td>
              <a href="/{{ item.slug }}?version={{ item.id }}" class="wikilink">
                {{ item.id }}{{ '*' if item.active else ''}}
              </a>
            </td>
            <td>
              {% if item.user %}
                <a href="/{{ item.user.slug }}" class="wikilink">
                  {{ item.user.name }}
                </a>
              {% endif %}
            </td>
            <td>
              {{ item.comment or '' }}
            </td>
          </tr>
        {% endfor %}
      </table>
    </form>

    {{ macros.render_pagination(history, 'recent_changes') }}
  </div>
{% endblock %}
