<div class="actions">
  <hr/>

  <p>
    {% if page.id %}
      {{ page.ymd_hm or 'never' }} –

      <a href="/{{ page.name }}?version={{ page.id }}" class="wikilink">
        {{ page.id }}{{ '*' if page.active else '' }}</a> |

      <a href="/history/{{ page.name }}">History</a> |
    {% endif %}

    {% if page.id %}
      <a href="/edit/{{ page.name }}">Edit</a>
    {% else %}
      <a href="/edit/{{ page.name }}">Create</a>
    {% endif %}

    {% if current_user.admin %}

      {% if page.id %}
        | <a href="/deactivate/{{ page.name }}">Deactivate</a>
      {% endif %}

    {% endif %}
  </p>
</div>
