<div class="actions">
  <hr/>

  <p>
    {% if page.id %}
      {{ page.ymd_hm or 'never' }} –

      <a href="/{{ page.slug }}?version={{ page.id }}" class="wikilink">
        {{ page.id }}{{ '*' if page.active else '' }}</a> |

      <a href="/history/{{ page.slug }}">History</a> |
    {% endif %}

    {% if page.id %}
      <a href="/edit/{{ page.slug }}">Edit</a>
    {% else %}
      <a href="/edit/{{ page.slug }}">Create</a>
    {% endif %}

    {% if page.id and current_user.admin %}
      {% if page.active %}
        | <a href="/deactivate/{{ page.slug }}">Deactivate</a>
      {% else %}
        | <a href="/activate/{{ page.slug }}?version={{ page.id}}">
          Activate</a>
      {% endif %}
    {% endif %}
  </p>
</div>
