{% extends "skeleton.j2" %}

{% block title %}
  {{ page.title }}
{% endblock %}

{% block body %}
  <div class="body">
    {{ g.cached_body(page, 'cache-') }}
  </div>
{% endblock %}

{% block actions %}
  {% include "menu.j2" %}
{% endblock %}

{% block meta %}
  {% if page.meta('category') %}
    <div class="category">
      <h5>{{ _('Category:') }}</h5>

      <ul>
        {% for item in page.meta('category') %}
          <li><a href="/search/category={{ item }}">{{ item }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if page.meta('tag') %}
    <div class="tags">
      <h5>{{ _('Tags:') }}</h5>

      <ul>
        {% for item in page.meta('tag') %}
          <li><a href="/search/tag={{ item }}">{{ item }}</a></li>
        {% endfor %}
      <ul>
    </div>
  {% endif %}

  {% if page.meta('subject') %}
    <div class="subject">
      <h5>{{ _('Subject:') }}</h5>

      <ul>
        {% for item in page.meta('subject') %}
          <li><a href="/search/subject={{ item }}">{{ item }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if page.meta('previous') or page.meta('next') %}
    <div class="navigation">
      <h5>{{ _('Navigation:') }}</h5>

      <ul>
        {% if page.meta('previous') %}
          <li>{{ _('Previous:') }} <a href="/{{ page.meta('previous')[0] | slugify }}">
            {{ page.meta('previous')[0] }}</a></li>
        {% endif %}

        {% if page.meta('next') %}
          <li>{{ _('Next:') }} <a href="/{{ page.meta('next')[0] | slugify }}">
            {{ page.meta('next')[0] }}</a></li>
        {% endif %}
      </ul>
    </div>
  {% endif %}

  <div class="generic">
    {% if page.meta(ignores=['tag', 'subject', 'category'], structural=False) %}
      <h5>
        {{ _('Custom <a href="/metadata" class="wikilink">metadata</a> for this page:') }}
      </h5>

      {% for key in page.keys(ignores=['tag', 'subject', 'category'], structural=False) %}
        <div class="generic-item generic--{{ key }}">
          <h5>{{ key }} :</h5>

          <ul>
            {% for value in page.meta(key) %}
              <li><a href="/search/{{ key }}={{ value }}">{{ value }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    {% else %}
      {% if not page.meta(structural=False) %}
        <h5>
          <em>
            {{ _('No <a href="/metadata" class="wikilink">metadata</a> for this page.') }}
          </em>
        </h5>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
