{% extends "skeleton.j2" %}

{% block title %}
  {{ page.title }}
{% endblock %}

{% block body %}
  {{ page.body | format }}

  {% include "menu.j2" %}
{% endblock %}

{% block meta %}
  <hr />

  {% if page.meta %}
    <h5><a href="/metadata" class="wikilink">Metadata</a> for this page:</h5>

    <table>
      {% for item in page.meta %}
        <tr {% if loop.last %} class="last-row" {% endif %}>
          <th>{{ item.key }}:</th>
          <td>
            <a href="/search/{{ item.key }}={{ item.value }}">
              {{ item.value }}</a>
            <br>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <h5><em>No <a href="/metadata" class="wikilink">metadata</a> for this
        page.</em></h5>
  {% endif %}
{% endblock %}
