{% extends "skeleton.j2" %}

{% block title %}
  {{ page.title }}
{% endblock %}

{% block message %}
  {% if thank %}
    <div class="flash">
      Thank you for your changes. Your attention to detail is appreciated.
    </div>
  {% endif %}
{% endblock %}

{% block body %}
  {{ page.body | format }}

  <div class="actions">
    <hr/>

    <p>
      Last modified: {{ page.mtime or 'never' }} |
      <a href="/history/{{ page.name }}">History</a> |
      <a href="/edit/{{ page.name }}">Edit</a>
    </p>
  </div>
{% endblock %}

{% block meta %}
  {% if page.meta %}
    <h5><a href="/metadata" class="wikilink">Metadata</a> for this page:</h5>

    <table>
      {% for item in page.meta %}
        <tr {% if loop.last %} class="last-row" {% endif %}>
          <th>{{ item.key }}:</th>
          <td>
            <a href="/search/{{ item.key }}={{ item.value }}">
              {{ item.value }}</a>
            <br>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <h5><em>No <a href="/metadata" class="wikilink">metadata</a> for this
        page.</em></h5>
  {% endif %}
{% endblock %}
