{% extends "skeleton.j2" %}

{% import "macros.j2" as macros %}

{% block title %}
  {{ _('Recent changes') }}
{% endblock %}

{% block body %}
  <div class="help">
    <h1>{{ _('Recent changes') }}</h1>

    <p>{{ _('This page lists the most recent edits made to the wiki. Use this
      page to monitor and review the latest contributions, to discover and
      correct mistakes and to spot and revert vandalism.') }}</p>
  </div>

  <div class="recent-changes">
    <table>
      <tr>
        <th>{{ _('Timestamp') }}</th>
        <th>{{ _('V.') }}</th>
        <th>{{ _('Title') }}</th>
        <th>{{ _('Author') }}</th>
        <th>{{ _('Comment') }}</th>
      </tr>

      {% for item in changes.items %}
        <tr>
          <td>
            {{ item.ymd_hm }}
          </td>
          <td>
            <a href="/history/{{ item.slug }}?version={{ item.id }}"
              class="wikilink">{{ item.id }}{{ '*' if item.active else ''}}
            </a>
          </td>
          <td>
            <a href="/{{ item.slug }}" class="wikilink">{{ item.title }}</a>
          </td>
          <td>
            {% if item.user %}
              <a href="/{{ item.user.slug }}" class="wikilink">
                {{ item.user.name }}
              </a>
            {% endif %}
          </td>
          <td>
            {{ item.comment or '' }}
          </td>
        </tr>
      {% endfor %}
    </table>

    {{ macros.render_pagination(changes, 'recent_changes') }}
  </div>
{% endblock %}
