{% extends "skeleton.j2" %}

{% block title %}
  Search
{% endblock %}

{% block body %}
  <div class="search">
    <form>
      <fieldset>
        <legend>Search through the wiki</legend>

        <div class="grid">
          <div class="row">
            <div class="col-s-9-12">
              <label class="hidden" for="field-query">Query term</label>
              <input type="text" id="field-query" name="query"
                value="{{ query }}" class="full-w">
            </div>

            <div class="col-s-3-12">
              <input type="submit" value="Search" class="full-w">
            </div>
          </div>
        </div>
      </fieldset>
    </form>

    <div class="grid gutters">
      <div class="row">
        <div class="col-s-12-12 col-m-6-12">
          <p>&nbsp;</p>

          <table>
            {% for key, values in facets.items() %}
              <tr {% if loop.last %} class="last-row" {% endif %}>
                <th>{{ key }}:</th>

                <td>
                  {% for value, count in values %}
                  <a href="/search{{ '/' + path if path else '' }}/{{ key }}={{ value }}?query={{ query }}">
                      {{ value }}</a>

                    <small>({{ count }})</small><br>
                  {% endfor %}
                </td>
              </tr>
            {% else %}
              <em>No further faceting available.</em>
            {% endfor %}
          </table>
        </div>

        <div class="col-s-12-12 col-m-6-12">
          <p>{{ hits | length | pluralize('%d hit', '%d hits') }} out of
            {{ total | pluralize('%d page', '%d pages') }} searched.</p>

          <ul>
            {% for page in hits %}
              <li>
                <a href="/{{ page.slug }}" class="wikilink">{{ page.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
