{% extends "skeleton.j2" %}

{% block title %}
  Settings
{% endblock %}

{% block body %}
  <div class="settings">
    <form method="POST">
      <input type="hidden" name="_csrf_token" value="{{ g.csrf_token() }}">

      <fieldset>
        <legend>Settings</legend>

        <input value="lang dir title description frontpage auth_only classes css favicon editor stylesheet"
          type="hidden" name="params">

        <h2>Locale</h2>

        <div class="form-row">
          <label for="field-lang">Language</label>
          <input name="lang" id="field-lang" class="full-w" type="text"
            value="{{ g.param('lang', 'en') }}">
        </div>

        <div class="form-row">
          <label for="field-dir">Text direction</label>
          <select name="dir" id="field-dir" class="full-w">
            <option {{ 'selected' if g.param('dir', '') == 'ltr' else '' }}
              value="ltr">Left to right</option>
            <option {{ 'selected' if g.param('dir', '') == 'rtl' else '' }}
              value="rtl">Right to left</option>
          </select>
        </div>

        <h2>Configuration</h2>

        <div class="form-row">
          <label for="field-title">Title</label>
          <input name="title" id="field-title" class="full-w" type="text"
            value="{{ g.param('title', 'Diamond wiki') }}">
        </div>

        <div class="form-row">
          <label for="field-description">Description</label>
          <input name="description" id="field-description" class="full-w"
            type="text" value="{{ g.param('description',
              'Diamond wiki, the metadata enabled wiki engine') }}">
        </div>

        <div class="form-row">
          <label for="field-frontpage">Front page slug</label>
          <input name="frontpage" id="field-frontpage" class="full-w"
            type="text" value="{{ g.param('frontpage', 'front-page') }}">
        </div>

        <h2>Security</h2>

        <div class="form-row">
          <label for="field-auth_only">Edition policy</label>
          <select name="auth_only" id="field-auth_only" class="full-w">
            <option value="">Everyone</option>
            <option {{ 'selected' if g.param('auth_only', '') else '' }}
              value="yes">Registered users only</option>
          </select>
        </div>

        <h2>Appearance</h2>

        <div class="form-row">
          <label for="field-favicon">Favicon</label>
          <input name="favicon" id="field-favicon" class="full-w" type="text"
            value="{{ g.param('favicon', '/static/diamond.ico') }}">
        </div>

        <div class="form-row">
          <label for="field-stylesheet">Stylesheet</label>
          <input name="stylesheet" id="field-stylesheet" class="full-w"
            placeholder="Example: /static/stylesheet-diplomat.css" type="text"
            value="{{ g.param('stylesheet',
              '/static/stylesheet-diplomat.css') }}">

          <div class="form-help">
            <p>Available stylesheets:
              <code>/static/stylesheet-capital.css</code>.</p>
          </div>
        </div>

        <div class="form-row">
          <label for="field-classes">Body classes</label>
          <input name="classes" id="field-classes" class="full-w" type="text"
            placeholder="Example: diplomat fixed-menu"
            value="{{ g.param('classes', '') }}">

          <div class="form-help">
            <p>Available color schemes: <code>green</code>, <code>pink</code>,
            <code>purple</code>.</p>
          </div>
        </div>

        <div class="form-row">
          <label for="field-editor">Editor</label>
          <select name="editor" id="field-editor" class="full-w">
            <option value="">Default editor</option>
            <option {{ 'selected' if g.param('editor', '') else '' }}
              value="codemirror">CodeMirror</option>
          </select>
        </div>

        <div class="form-row">
          <label for="field-css">Custom CSS</label>
          <textarea name="css" id="field-css" class="full-w editor"
            cols="80" rows="6">{{ g.param('css', '') }}</textarea>
        </div>

        <div class="form-row">
          <input type="submit" value="Save" class="full-w">
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}

{% block extra %}
  {% if g.param('editor', '') == 'codemirror' %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/codemirror.min.css"
      rel="stylesheet">

    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/codemirror.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/mode/css/css.min.js"></script>
  {% endif %}
{% endblock %}
