{% extends "skeleton.j2" %}

{% block title %}
  {{ _('Sign in') }}
{% endblock %}

{% block body %}
  <div class="help">
    <h1>{{ _('Sign in') }}</h1>
  </div>

  <div class="sign-in">
    <form method="POST">
      <input type="hidden" name="_csrf_token" value="{{ g.csrf_token() }}">

      <fieldset>
        <legend>{{ _('Sign in form') }}</legend>

        <div class="form-row">
          <label for="field-name">{{ _('User name') }}</label>
          <input type="text" id="field-name" name="name" class="full-w"
            placeholder="{{ _('Your full name, eg.: John Doe') }}">
        </div>

        <div class="form-row">
          <label for="field-password">{{ _('Password') }}</label>
          <input type="password" id="field-password" name="password"
            class="full-w" placeholder="{{ _('Your password') }}">
        </div>

        <div class="form-row">
          <input type="submit" value="{{ _('Go') }}" class="full-w">
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}
