{% extends "skeleton.j2" %}

{% block title %}
  {{ _('Sign up') }}
{% endblock %}

{% block body %}
  <div class="sign-up">
    <form method="POST">
      <input type="hidden" name="_csrf_token" value="{{ g.csrf_token() }}">
      <input type="hidden" name="checksum" value="{{ checksum }}">

      <fieldset>
        <legend>{{ _('Sign up form') }}</legend>

        <div class="form-row">
          <label for="field-name">{{ _('User name') }}</label>
          <input type="text" id="field-name" name="name" class="full-w"
            placeholder="{{ _('Your full name, eg.: John Doe') }}">
        </div>

        <div class="form-row">
          <label for="field-password">{{ _('Password') }}</label>
          <input type="password" id="field-password" name="password"
            class="full-w" placeholder="{{ _('Choose a password') }}">
        </div>

        <div class="form-row">
          <label for="field-answer">{{ _('Confirm you\'re human:') }} <em>
              {{ question }}</em></label>
          <input type="text" id="field-answer" name="answer" class="full-w"
            placeholder="{{ _('Answer using numbers only') }}">
        </div>

        <div class="form-row">
          <input type="submit" value="{{ _('Go') }}" class="full-w">
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}
