{% extends "skeleton.j2" %}

{% block title %}
  Sign up
{% endblock %}

{% block body %}
  <div class="sign-up">
    <form method="POST">
      <input type="hidden" name="checksum" value="{{ checksum}}">

      <fieldset>
        <legend>Sign up form</legend>

        <div class="form-row">
          <label for="field-name">User name</label>
          <input type="text" id="field-name" name="name" class="full-w"
            placeholder="Your full name, eg.: John Doe">
        </div>

        <div class="form-row">
          <label for="field-password">Password</label>
          <input type="password" id="field-password" name="password"
            class="full-w" placeholder="Choose a password">
        </div>

        <div class="form-row">
          <label for="field-answer">Confirm you're human: <em>
              {{ question }}</em></label>
          <input type="text" id="field-answer" name="answer" class="full-w"
            placeholder="Answer using numbers only">
        </div>

        <div class="form-row">
          <input type="submit" value="Go" class="full-w">
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}
