{% extends "skeleton.j2" %}

{% block title %}
  Sign in
{% endblock %}

{% block body %}
  <div class="sign-in">
    <form method="POST">
      <input type="hidden" name="_csrf_token" value="{{ g.csrf_token() }}">

      <fieldset>
        <legend>Sign in form</legend>

        <div class="form-row">
          <label for="field-name">User name</label>
          <input type="text" id="field-name" name="name" class="full-w"
            placeholder="Your full name, eg.: John Doe">
        </div>

        <div class="form-row">
          <label for="field-password">Password</label>
          <input type="password" id="field-password" name="password"
            class="full-w" placeholder="Your password">
        </div>

        <div class="form-row">
          <input type="submit" value="Go" class="full-w">
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}
