<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ self.title() | striptags }} - DiamondWiki</title>

  <meta name="description" content="">

  <link rel="canonical" href="">

  <link rel="stylesheet" type="text/css" href="/static/base.css">
  <link rel="stylesheet" type="text/css" href="/static/pygments.css">

  <link rel="stylesheet" type="text/css" href="/static/diamond.css">
  <link rel="stylesheet" type="text/css"
    href="/static/diamond-{{ config['COLORSHCEME'] }}.css">
</head>
<body>
  <div id="layout" class="container pad-top-20 pad-bottom-40">
    {% block message %}{% endblock %}

    <div class="clear pad-top-20">
      <div id="sidebar" class="col-3-l pad-top-15">
        {% if menu and menu %}
          <div class="main-menu">
            {{ menu.body | format }}
          </div>
        {% endif %}

        {% block meta %}{% endblock %}
      </div>

      <div id="body" class="col-9-l">
        <h1 class="title">
          {% block title %}{% endblock %}
        </h1>

        <hr/>

        {% if help and help %}
          <div class="help">
            {{ help.body | format }}
          </div>
        {% endif %}

        {% block body %}{% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
