<!DOCTYPE html>
<html lang="{{ g.param('lang', 'en') }}" dir="{{ g.param('dir', 'ltr') }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% block title %}{% endblock %} / {{ g.param('title', 'Diamond wiki') }}
  </title>

  <meta name="description" content="{{ g.param('description', 'Diamond wiki, the metadata enabled wiki engine') }}">

  <link rel="shortcut icon" type="image/x-icon" href="/static/diamond.ico" />

  <link rel="stylesheet" type="text/css" href="/static/base.css">
  <link rel="stylesheet" type="text/css" href="/static/pygments.css">
  <link rel="stylesheet" type="text/css" href="/static/diff.css">

  <link rel="stylesheet" type="text/css" href="/static/diamond.css">
  <link rel="stylesheet" type="text/css"
    href="/static/diamond-{{ g.param('colorscheme', 'purple') }}.css">

  <style>{{ g.param('css', '') }}</style>
</head>
<body class="{{ g.param('classes', '') }}">
  <div id="layout" class="container pad-top-20 pad-bottom-40">
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    <div class="clear pad-top-20">
      <div id="sidebar" class="col-3-l pad-top-15">
        {% if menu and menu %}
          <div class="main-menu">
            {{ menu.body | format }}
          </div>
        {% endif %}

        <div class="clear">
          <form action="/search">
            <div class="col-7 col-9-m no-padding">
              <input class="field" name="query" type="text">
              <input name="fulltext" type="hidden" value="yes">
            </div>
            <div class="col-5 col-3-m no-padding">
              <button class="button button-fw no-padding" type="submit">
                Go!
              </button>
            </div>
          </form>
        </div>

        <hr />

        <small>
          <center>
            {% if current_user.is_authenticated %}
              Signed in as <a href="/{{ current_user.slug }}" class="wikilink">
                {{ current_user.name }}</a>.
              <a href="/sign-out">Sign out</a>.
            {% else %}
              <a href="/sign-in">Sign in</a>.
              <a href="/sign-up">Sign up</a>.
            {% endif %}
          </center>
        </small>

        {% block meta %}{% endblock %}
      </div>

      <div id="body" class="col-9-l">
        {% if help and help %}
          <div class="help">
            {{ help.body | format }}
          </div>
        {% endif %}

        {% block body %}{% endblock %}
      </div>
    </div>
  </div>

  <script src="/static/zepto-min.js"></script>

  <script>
    $(function($) {

      $('.flash').on('click', function () {
        $(this).hide();
      });

      $('.diff-button').on('click', function () {
        var href = $(this).attr('href');
        var a = $('input[name=version-a]:checked').val();
        var b = $('input[name=version-b]:checked').val();

        if (a && b) {
          document.location = href + '/' + a + '/' + b;
        }

        return false;
      });

      $('.button-preview').on('click', function () {
        var pos = $(this).offset();
        var payload = $('form.edit').serialize();

        $.post('/preview', payload, function (res, status) {
          if (status === 'success') {
            $('.preview').html('<hr />' + res);
            $('body').scrollTop(pos.top);
          }
        });
      });

    });
  </script>
</body>
</html>
